@import "./blocks/_footer.scss";
@import "./blocks/_header.scss";


$primary-color: #4caf50;
$secondary-color: #ffc107;
$base-font-size: 16px;

h1 {
    color:$primary-color;
}

.button {
    background-color: $secondary-color;
}

p{
    font-size: $base-font-size*1.25;
}

nav {
    ul {
        list-style: none;

        a{
            display: block;
            padding: 6px 12px;
            text-decoration: none;
        }
    }
}